
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@tomtom-international/web-sdk-maps/dist/maps.css';
// @import url('https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.57.0/maps/maps.css');

@import '_reset';
@import '_variables';
@import '_common';
@import '_mixins';
@import 'partials/_header';
@import 'partials/_main';
@import 'partials/_footer';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//mappa
.mapboxgl-canvas {
    position: relative;
    width: 800px;
    margin: 0 auto;
}
// -------------temporaneo-------------
main{
  img{
    width: 500px;
  }
  .row{
    padding-top: 30px;
    .room-info{
      #info{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 5px;
      }
    }
  }
}

.no-padding{
  padding: 0;
}
// -------------temporaneo-------------
