/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COMMON*/

body {
  font-family: "Montserrat", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base,
.hidden-header .btn-base,
header .container .upper-header .btn-base {
  border: 1px solid #d63031;
  border-radius: 5px;
  padding: 8px 15px;
  background: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
}

.btn-base img,
.hidden-header .btn-base img,
header .container .upper-header .btn-base img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 8px;
  float: left;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  color: #2d3436;
}

.section-pink {
  background: #ffe7d2;
  color: #000;
  padding: 50px 0;
}

.section-white {
  background: #ffffff;
  color: #000;
  padding: 50px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
}

.lft {
  width: 600px;
  height: 100%;
  float: left;
  position: relative;
  padding: 70px;
}

.lft h2 {
  margin-bottom: 10px;
  line-height: 40px;
}

.lft p {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 40px;
}

.lft .min {
  margin-top: 35px;
}

.rgt {
  width: 600px;
  height: 100%;
  float: left;
  position: relative;
  padding: 70px;
}

.rgt h2 {
  margin-bottom: 10px;
  line-height: 40px;
}

.rgt p {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 40px;
}

.rgt .min {
  margin-top: 35px;
}

.min {
  width: 270px;
  display: block;
}

.max {
  width: 770px;
  position: absolute;
}

.without {
  padding: 0;
}

.hidden-header.hd {
  top: -75px;
}

.hd {
  top: -75px;
}

.hidden {
  display: none;
}

.half-padding {
  padding: 23px 0;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px #ccc;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1px;
}

.search-bar .section {
  background: #dfe6e950;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.search-bar .section:hover {
  background: #ffffff;
  border: 1px solid #dfe6e990;
}

.search-bar .section input {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  padding: 0 15px;
}

.search-bar .section button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background: #d63031;
  color: #fff;
  cursor: pointer;
}

.search-bar .section button:hover {
  background: #e17055;
}

.form-inline {
  width: 100%;
}

/*HEADER*/

header {
  height: 720px;
  color: #000;
}

header .container {
  height: 100%;
  border-bottom: 1px solid #000;
}

header .container .upper-header {
  height: 75px;
  border-bottom: 1px solid #000;
}

header .container .upper-header .btn-base {
  color: #d63031;
}

header .container .upper-header .btn-base:hover {
  background: #d63031;
  color: #ffffff;
}

header .container .upper-header li {
  position: relative;
}

header .container .upper-header li a i {
  position: relative;
  transform: translate(0, -5%);
}

header .container .upper-header .dropdown-outer {
  -webkit-animation: a 0.5s 1;
          animation: a 0.5s 1;
  display: none;
  position: absolute;
}

header .container .upper-header .dropdown-outer::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 80px;
  top: -70px;
  transform: translate(-10%);
  z-index: 3;
}

header .container .upper-header .dropdown-outer .dropdown-inner {
  width: 100px;
  height: 140px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  transform: translate(-10%);
  border: 1px solid lightgrey;
  background: #fff;
  z-index: 2;
  box-shadow: 3px 3px 5px 3px #ccc;
}

header .container .upper-header .dropdown-outer .dropdown-inner li {
  display: block;
}

header .container .upper-header .dropdown-outer .dropdown-inner li a {
  display: block;
  font-size: 12px;
  line-height: 30px;
}

.hidden-header {
  color: #000;
  height: 75px;
  border-bottom: 1px solid #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  background: #ffffff;
  transition: 0.5s;
}

.hidden-header .btn-base,
.hidden-header header .container .upper-header .btn-base,
header .container .upper-header .hidden-header .btn-base {
  color: #d63031;
}

.hidden-header .btn-base:hover,
.hidden-header header .container .upper-header .btn-base:hover,
header .container .upper-header .hidden-header .btn-base:hover {
  background: #d63031;
  color: #ffffff;
}

.hidden-header li {
  position: relative;
}

.hidden-header li a i {
  position: relative;
  transform: translate(0, -5%);
}

.hidden-header .dropdown-outer {
  -webkit-animation: a 0.5s 1;
          animation: a 0.5s 1;
  display: none;
  position: absolute;
}

.hidden-header .dropdown-outer::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 80px;
  top: -70px;
  transform: translate(-10%);
  z-index: 3;
}

.hidden-header .dropdown-outer .dropdown-inner {
  width: 100px;
  height: 140px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  transform: translate(-10%);
  border: 1px solid lightgrey;
  background: #fff;
  z-index: 2;
  box-shadow: 3px 3px 5px 3px #ccc;
}

.hidden-header .dropdown-outer .dropdown-inner li {
  display: block;
}

.hidden-header .dropdown-outer .dropdown-inner li a {
  display: block;
  font-size: 12px;
  line-height: 30px;
}

@-webkit-keyframes a {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes a {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header.basso {
  height: 75px;
}

/*LOGO*/

#logo {
  float: left;
}

#logo h4 {
  line-height: 75px;
  font-size: 25px;
  font-weight: 400;
  float: right;
  margin-left: 10px;
}

#logo svg {
  width: 50px;
  height: 75px;
}

/*NAVBAR*/

nav {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  line-height: 75px;
}

/*BANNER*/

.banner {
  height: calc(100vh - 75px);
  padding: 150px 0;
}

.banner .left {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 25px;
  padding-right: 80px;
}

.banner .left h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.banner .left p {
  font-size: 20px;
  margin-bottom: 50px;
}

.banner .left .cta {
  width: 100%;
  margin-bottom: 20px;
}

.banner .left .cta button {
  float: left;
  background: #d63031;
  color: #ffffff;
}

.banner .left .cta button:hover {
  background: #e17055;
}

.banner .left .cta p {
  float: left;
  font-size: 12px;
  margin: 0 20px;
  line-height: 35px;
}

.banner .left a i {
  font-size: 12px;
}

.banner .right {
  width: 50%;
  height: 100%;
  float: right;
}

.banner .right img {
  width: 600px;
  -webkit-mask-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, black), color-stop(0.35, black), color-stop(0.8, rgba(0, 0, 0, 0)), color-stop(0.7, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
          mask-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, black), color-stop(0.35, black), color-stop(0.8, rgba(0, 0, 0, 0)), color-stop(0.7, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
}

/*MAIN*/

.row.index-guests {
  width: 100%;
}

.row.index-guests .cards-outer {
  width: 100%;
  padding-right: 450px;
  padding-top: 75px;
}

.row.index-guests .cards-outer h2 {
  margin-bottom: 25px;
}

.row.index-guests .cards-outer .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  grid-gap: 30px;
}

.row.index-guests .cards-outer .cards .card-index {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 15px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px #ccc;
}

.row.index-guests .cards-outer .cards .card-index .img-card {
  padding: 25px 10px;
}

.row.index-guests .cards-outer .cards .card-index .img-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.row.index-guests .cards-outer .cards .card-index .card-body {
  padding: 25px 0;
  text-align: left;
}

.row.index-guests .cards-outer .cards .card-index .card-body h2 {
  border-bottom: 1px solid #dfe6e9;
}

.row.index-guests .mappa {
  position: fixed;
  top: 75px;
  right: 0;
  bottom: 0;
}

/*CARD*/

.card-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cover" "descrizione";
  box-shadow: 3px 3px 5px 3px #ccc;
  margin-bottom: 10px;
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.card-home img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-home .descrizione {
  font-size: 12px;
}

/*FOOTER*/

footer {
  font-size: 0.8rem;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 15px;
}

footer .container .first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "section.one section.two section.three section-four";
  grid-gap: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}

footer .container .first h4 {
  text-transform: uppercase;
}

footer .container .first .section ul li {
  padding: 10px 0;
}

footer .container .second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "section.one section.two";
  grid-gap: 15px;
  padding-top: 30px;
}

footer .container .second .section.one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "li li li li";
  grid-gap: 15px;
}

footer .container .second .section.one ul {
  list-style-type: disc;
}

footer .container .second .section.one ul li {
  display: inline-block;
}

footer .container .second .section.two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "lang currency socials";
  grid-gap: 15px;
}

/*MESSAGE-CLOUD*/

.message-cloud {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #d63031;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.message-cloud:hover {
  -webkit-animation: m 0.5s 1;
          animation: m 0.5s 1;
}

.message-cloud img {
  width: 30px;
  height: 30px;
}

@-webkit-keyframes m {
  from {
    transform: scale(1.2) rotate(-5deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes m {
  from {
    transform: scale(1.2) rotate(-5deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

